@font-face { font-family: mlight; src: url('mlight.otf'); } 
@font-face { font-family: montxbold; src: url('mxbold.otf'); } 
@font-face { font-family: montbold; src: url('mbold.otf'); }
html {
    overflow-x: hidden;
}

body {
    font-family: mlight, sans-serif;
    background-color: #0500a3;
    color:white;
}
h1{
    font-family:montxbold, sans-serif;
    font-size:2.5em;
}
h2{
    font-family:montbold, sans-serif;
    font-size:2em;
    color:#eeff96;
}
h3{
    font-family:montbold, sans-serif;
    font-size:2em;
    color:#49340b;
    position:relative;
    margin-left:20px;


}
p{
    font-size:1em;
}


.hideme
{
    opacity:1;
}
.hideme2
{
    opacity:1;
}
.hideme3
{
    opacity:1;
}
#group{
    width:87vw;
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin:auto;
    
}

@media screen and (min-width: 768px) {
    h1 {
        font-size:3.5em;
    }
    h2{
        font-size:2.5em;
    }
    h3{
        font-size:2.5em;
        margin-top:1em;
        left:2em;
        margin-bottom:1em;
    }
    p{
        font-size:1.5em;
    }
    td, th {
        text-align: left;
        padding: 10px;
        font-size:1.2em;
    }
    table {
        margin-top:10px;
        margin-bottom:10px;
    }
    .hideme
    {
        opacity:0;
    }
    .hideme2
    {
        opacity:0;
    }
    .hideme3
    {
        opacity:0;
    }
    #group{
    width:50vw;
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}



}
.succtext{
    margin-left:20px;
    color:black;
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-right:40px;
}
#integrity{
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#mintegrity{
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#title, #icon{
    -webkit-animation: fadeInRight 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    clear:both;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight2 {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 0.8;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px); 
        transform:rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        transform:rotate(80deg);
    }
}
#motto{
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    clear:both;

}

#block1{
    height:5px;
    background-color:#f6ff67;
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#balldiv{
    margin-top:00px;
    margin-bottom:-400px;
}
#ball{
    position:relative;
    right:-170px;
    top:40px;
    -ms-transform: rotate(80deg); /* IE 9 */
    -webkit-transform: rotate(80deg); /* Chrome, Safari, Opera */
    transform: rotate(80deg);
    -webkit-animation: fadeInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInLeft 2s; /* Firefox < 16 */
    -ms-animation: fadeInLeft 2s; /* Internet Explorer */
    -o-animation: fadeInLeft 2s; /* Opera < 12.1 */
    animation: fadeInLeft 2s;
     z-index: 1;
    height:300px;
}


@keyframes fadein1 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h6 {
    transform: rotate(270deg);
    transform-origin: bottom right 0;
    width:20em;
    font-size: 1.25em;
    margin-left:-8em;
    color:#f6ff67;
}

@keyframes playset {
    0% { opacity: 0; }
    30%   { opacity: 0.9; }
    40%   { top: 26em;
        left:13em;}
    100% { top: 8em;
        left:18em;}
}

@keyframes playset2 {
    0% { opacity: 0; }
    30%   { opacity: 0.9; }
    40%   { top: 16em;
        left:21em;}
    100% { top: -2em;
        left:26em;}
}




@media screen and (min-width: 768px) {
    #swirl {
        height:38em;
    }
}

#court {
    top:40px;
    color: #fff;
    background-image: url("courttext.jpg");
    opacity: 0.8; filter: alpha(opacity=20);
    -webkit-filter: brightness(0.99);
    filter: brightness(1.2);
    color: rgba(20,  122,  188,  0.5);
    padding: 6px 0 12px;
    height: 60em;
    width:150em;
    left:-10px;
    transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);-webkit-transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);-moz-transform: rotate(358deg) scale(1) skew(0deg) translate(0px);-o-transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);-ms-transform:  rotate(358deg) scale(1) skew(0deg) translate(0px);
   
    margin-left:-100px;
}
#mbio{
    -webkit-animation: fadeInRight 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#mcourt {
    top:25px;
    color: #fff;
    background-image: url("courttext.jpg");
    opacity: 0.8; filter: alpha(opacity=20);
    -webkit-filter: brightness(0.99);
    filter: brightness(1.2);
    color: rgba(20,  122,  188,  0.5);
    padding: 6px 0 12px;
    height: 28em;
    width:100vw;
    margin-bottom:-10px;

    margin-left:-20px;
}


#footer{
    background-color: black;

    clear:both;
    text-align:center;
    width: 120%;
    position:relative;
    left:-10%;
    padding-top:20px;
 margin-top:30px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#logo{
    -webkit-filter: brightness(1.0);
    position:relative;
    -webkit-animation: fadeInRight2 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    filter: brightness(1.0);
    height:100px;
    width:120px;
    left:-7.5em;
    top: 2.5em;
}

#logo2{
    -webkit-filter: brightness(1.0);
    position:relative;
    -webkit-animation: fadeInRight2 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    filter: brightness(1.0);
    height:50px;
    width:60px;
    display:inline;
    margin-top:-40px;
    margin-left:50px;
}

#bios{
    border-top:4px solid black;
    border-left:4px solid black;
    -webkit-animation: fadein1 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


